APP_NAME=TravelX
SUPPORT_EMAIL=luckyizdone@gmail.com
SOCIAL_INSTAGRAM_URL=https://www.instagram.com/
SOCIAL_TWITTER_URL=https://x.com/
SOCIAL_LINKEDIN_URL=https://www.linkedin.com/
MOCK_API_PORT=3000
